html {
    font-family: arial;
    font-size: 0.8em;
}

footer {
    position: relative;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#gmail, 
#images, 
#menu {
    display: block;
    padding: 10px 30px 10px 30px;
}

#connexion {
    display: block;
    padding: 10px 30px 10px 30px;
    background-color: blue;
    color: white;
}

#googlelogo {
    display: block;
    padding-top: 100px;
    width: 50%;
    margin: auto;
    height: 92px;
    width: 272px;
}

#barre {
    display: block;
    width: 50%;
    height: 20px;
    border: 1px solid rgba(20, 30, 36, 0.3);
    margin: 40px auto;
}

#boutons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#recherche {
    display: block;
    background-color: grey;
    width: 120px;
    height: 20px;
    padding: 10px 30px 10px 30px;
    text-align: center ;
    margin-right: 5px;
}

#chance {
    display: block;
    background-color: grey;
    width: 120px;
    height: 20px;
    padding: 10px 30px 10px 30px;
    text-align: center ;
    margin-left: 5px;
}

#pays {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#vide {
    flex: 1;
}

#pays div {
    display: block;
    background-color: grey;
    width: 100%;
}

#info div {
    display: block;
    background-color: grey;
}