html {
    font-family: arial;
    font-size: 0.7em;
}

/* BARRE DE NAV HAUTE */

#nav li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}



li a {
    display: block;
    text-align: center;
    padding: 10px 30px 10px 20px;
 }



.connection {
    display: block;
    padding: 10px 30px 10px 30px;
    background-color: blue;
    color: white;
}


/* LOGO DE GOOGLE */

#googlelogo {
    display: block;
    padding-top: 100px;
    padding-left: 360px;
    margin: auto;
    height: 92px;
    width: 272px;
}

/* BARRE DE RECHERCHE */

#barre {
    display: block;
    width: 400px;
    height: 20px;
    border: 1px solid rgba(20, 30, 36, 0.3);
    margin: 40px auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}

#search {
    width: 350px;
    height: 15px;
}

#micro {
    display: block;
    float: right;
    width: 40px;
    height: 20px;
}

/* BOUTONS RECHERCHE ET CHANCE */

#boutons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#recherche {
    display: block;
    background-color: #f2f2f2;
    width: 95px;
    height: 14px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    margin-right: 5px;
    font-family: arial-label;
    font-weight: bold;
    color: grey;


}

#chance {
    display: block;
    background-color: #f2f2f2;
    width: 95px;
    height: 14px;
    padding: 10px 30px 10px 30px;
    text-align: center ;
    margin-left: 5px;
    font-family: arial-label;
    font-weight: bold;
    color: grey;
}

/* FOOTER */


footer{
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #f2f2f2;
  bottom: 10;
  border-top: 1px solid #D2DCDB;
}

#pays {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#vide {
    flex: 1;
}

#pays div {
    display: block;
    background-color: #f2f2f2;
    width: 100%;
    height: 15px;
    padding: 10px 20px 10px 20px;
    text-align: left ;
    border: 1px;
 
}

#info div {
    display: block;
    background-color: #f2f2f2;
    width: 10Opx;
    height: 15px;
    padding: 10px 20px 10px 20px;
    text-align: center ;

}

